<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="loyality.member.cafe.boloessentials">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="sensorLandscape"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="33">
        <activity
            android:name=".halaman_admin.HadiahAdminActivity"
            android:exported="false"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".halaman_admin.UserAdminActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".halaman_admin.AdministratorAdminActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".halaman_admin.TukarHadiahAdminActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".halaman_admin.TukarPointAdminActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".halaman_admin.KaryawanAdminActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".halaman_admin.DashboardAdminActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".halaman_userandworker.TambahPointActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".halaman_userandworker.TukarPointActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".halaman_userandworker.LoadingScreenActivity"
            android:exported="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".halaman_userandworker.LoginActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
    </application>

</manifest>